@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f1f1;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0a27;
    --foreground: #ededed;
  }
} */
/* Scroll invisible pero funcional */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.scroll-hidden {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;     /* Firefox */
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.ProseMirror:focus {
  outline: none !important;
}
.ProseMirror {
  cursor: text;
}
.gradient-text {
  @apply bg-gradient-to-b from-purple-500 to-blue-600 bg-clip-text text-transparent;
  /* Puede ajustar el tamaño del texto según la necesidad, o agregar text-4xl, text-5xl, etc. */
}
/* Estilos para el placeholder */
.editor-content .ProseMirror p.is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #9ca3af; /* gris clarito tipo Tailwind gray-400 */
  pointer-events: none;
  height: 0;
}