@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f1f1;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0a27;
    --foreground: #ededed;
  }
} */
/* Scroll invisible pero funcional */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.scroll-hidden {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;     /* Firefox */
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.ProseMirror:focus {
  outline: none !important;
}
.ProseMirror {
  cursor: text;
}
